.container {
  align-items: center;
}
.jumbotron{
  background-image: url('https://wallpaperplay.com/walls/full/1/0/a/324693.jpg');
  padding:5px;
  margin-bottom: -30; 
}
.john{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  font-style: italic;
  color:green;

}
