{% extends 'bootstrap/base.html'%}



<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   {% if title %}
   <title>{{ title }}</title>
   {% else %}
   <title>Pitch It Up!! </title>
   {% endif %}
 </head>
 <body>
   {% block navbar %}
       {% include 'navbar.html' %}
   {% endblock %}
   {% block content %}
   {%block styles%}
   <Link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-material-design')}}">
   <Link rel="stylesheet" href="{{url_for('static',filename='css/main-material.css')}}">
   <Link rel="stylesheet" href="{{url_for('static',filename='css/mdb.css')}}">
   <Link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
   <Link rel="icon" href"/static/image/ic.png">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   {% endblock %}

   {% endblock %}

 </body>
</html>
