{% extends 'bootstrap/base.html'%}



<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   {% if title %}
   <title>{{ title }}</title>
   {% else %}
   <title>Pitch It Up!! </title>
   {% endif %}
 </head>
 <body>
   {% block navbar %}
       {% include 'navbar.html' %}
   {% endblock %}
   {% block content %}
   {%block styles%}
    <Link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-material-design')}}">
    <Link rel="stylesheet" href="{{url_for('static',filename='css/main-material.css')}}">
    <Link rel="stylesheet" href="{{url_for('static',filename='css/mdb.css')}}">
    <Link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <Link rel="icon" href"/static/image/ic.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='js/mdb.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    
   {% endblock %}

   {% endblock %}

 </body>
</html>
